body {
  background-color: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
}

.contenedorMain {
  max-width: 1000px;
  margin: auto;
  padding: 30px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 52px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.tramoBox {
  background-color: #1e293b;
  border: 1px solid #334155;
  border-radius: 14px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 18px;
}

.campo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

label {
  font-size: 18px;
  font-weight: bold;
}

.intervaloRow {
  display: flex;
  gap: 15px;
  align-items: center;
  flex-wrap: wrap;
}

.checkboxGrupo {
  display: flex;
  align-items: center;
  gap: 6px;
}

input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #475569;

  background-color: #334155;
  color: white;

  font-size: 16px;
}

input::placeholder {
  color: #94a3b8;
}

input:focus {
  outline: none;
  border-color: #3b82f6;
}

.botonesMath {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

button {
  padding: 10px 16px;
  border: none;
  border-radius: 8px;

  background-color: #2563eb;
  color: white;

  cursor: pointer;
  font-size: 15px;

  transition: 0.2s;
}

button:hover {
  background-color: #1d4ed8;
  transform: scale(1.03);
}

.resultadoBox {
  background-color: #1e293b;

  border: 1px solid #334155;
  border-radius: 14px;

  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10px;

  margin-top: 20px;
  margin-bottom: 20px;
}

.resultadoTitulo {
  font-size: 18px;
  color: #94a3b8;
}

.resultadoValor {
  font-size: 42px;
  font-weight: bold;
  color: #60a5fa;
}
.funcionesActuales {
  margin-top: 20px;
  margin-bottom: 20px;

  background-color: #1e293b;
  border: 1px solid #334155;

  border-radius: 12px;
  padding: 20px;
}

.funcionesActuales h3 {
  margin-top: 0;
  margin-bottom: 15px;

  color: #93c5fd;
}

.funcionItem {
  background-color: #334155;

  padding: 12px;
  border-radius: 8px;

  margin-bottom: 10px;

  font-family: monospace;
  font-size: 16px;
}
canvas {
  margin-top: 20px;
}
.errorTexto {
  color: #f87171;
  font-size: 14px;
  margin-top: 5px;
}